doctrine:
    dbal:
        url: '%env(resolve:DATABASE_URL)%'

    orm:
        naming_strategy: doctrine.orm.naming_strategy.underscore_number_aware

        identity_generation_preferences:
            Doctrine\DBAL\Platforms\PostgreSQLPlatform: identity

        mappings:
            App:
                type: attribute
                is_bundle: false
                dir: '%kernel.project_dir%/src/Entity'
                prefix: 'App\Entity'
                alias: App
