services:
  php:
    build:
      context: .
    volumes:
      - "~/.docker_cache/composer:/.cache"
      - "~/.docker_cache/symfony5:/.symfony5"
      - "~/.gitconfig:/.gitconfig"
      - ".:/app"
      - "./.phiremock:/.phiremock"
    environment:
      - XDEBUG_MODE=debug

  server:
    extends:
      service: php
    entrypoint: ["server-entrypoint"]
    ports:
      - "8080:8080"
    volumes:
      - "./server-entrypoint.sh:/usr/local/bin/server-entrypoint"

  acceptance-server:
    extends:
      service: server
    environment:
      - APP_ENV=acceptance
    ports: !reset null
  
  chrome:
    image: selenium/node-chrome
    shm_size: 2g
    depends_on:
      - selenium-hub
    environment:
      - SE_OPTS=--log-level OFF --enable-managed-downloads true
      - SE_EVENT_BUS_HOST=selenium-hub
      - SE_EVENT_BUS_PUBLISH_PORT=4442
      - SE_EVENT_BUS_SUBSCRIBE_PORT=4443
      - SE_DRAIN_AFTER_SESSION_COUNT=50
      - VNC_NO_PASSWORD=1
      - TMPDIR=/var/tmp
      - SE_JAVA_OPTS=-XX:-UsePerfData

  selenium-hub:
    image: selenium/hub
    environment:
      - SE_OPTS=--log-level OFF
    ports:
      - "4444:4444"
    depends_on:
      - acceptance-server
      - phiremock

  phiremock:
    extends:
      service: php
    entrypoint: ["vendor/bin/phiremock"]
    command: ["--ip", "0.0.0.0", "--port", "8086", "-e", "tests/_expectations"]
    volumes:
      - "./.phiremock:/.phiremock"

###> doctrine/doctrine-bundle ###
  database:
    image: postgres:${POSTGRES_VERSION:-16}-alpine
    environment:
      POSTGRES_DB: ${POSTGRES_DB:-app}
      # You should definitely change the password in production
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-!ChangeMe!}
      POSTGRES_USER: ${POSTGRES_USER:-app}
    healthcheck:
      test: ["CMD", "pg_isready", "-d", "${POSTGRES_DB:-app}", "-U", "${POSTGRES_USER:-app}"]
      timeout: 5s
      retries: 5
      start_period: 60s
    volumes:
      - database_data:/var/lib/postgresql/data:rw
      # You may use a bind-mounted host directory instead, so that it is harder to accidentally remove the volume and lose all your data!
      # - ./docker/db/data:/var/lib/postgresql/data:rw
###< doctrine/doctrine-bundle ###

volumes:
###> doctrine/doctrine-bundle ###
  database_data:
###< doctrine/doctrine-bundle ###
