parameters:
    level: 6
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/
    excludePaths:
        analyseAndScan:
            - tests/Support/_generated/*
            - config/reference.php
    tmpDir: var
    doctrine:
        objectManagerLoader: tests/object-manager.php
    ignoreErrors:
        -
            message: "#^Class App\\\\Form\\\\Type\\\\BookSearchType extends generic class Symfony\\\\Component\\\\Form\\\\AbstractType but does not specify its types\\: TData$#"
            count: 1
            path: src/Form/Type/BookSearchType.php
