{% extends 'base.html.twig' %}

{% block body %}

<form method="get">
    <input type="text" name="title" />
    <button type="submit">Submit</button>
</form>

<hr />

{% for book in books %}
    <p>{{ book.volumeInfo.title }}</p>
{% endfor %}

{% endblock %}
