{% extends 'base.html.twig' %}

{% block body %}

{% if query %}
<h1>Search results for: {{ query }}</h1>
{% endif %}

{% for book in books %}
    {{ include('book/_book.html.twig', {book}) }}
{% endfor %}

{% endblock %}
